<div class="mt-5 height">
    <h1 class="text-center text-info">You Appointments and Certificates</h1>
    <ul class="list-group w-50 m-auto my-5">
        <li class="list-group-item">
            <div class="list-group-item">
                date : {{ '25-12-2021' }}
            </div>
            <div class="list-group-item">
                location : {{ 'Grombalia - Nabeul' }}
            </div>
            <div class="list-group-item">
                status : {{ 'taken' }}
            </div>
            <div class="list-group-item">
                certificate : <button class="btn btn-sm btn-primary">Get pass</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="list-group-item">
                date : {{ '16-08-2021' }}
            </div>
            <div class="list-group-item">
                location : {{ 'Dar Chaaban - Nabeul' }}
            </div>
            <div class="list-group-item">
                status : {{ 'missed' }}
            </div>
            <div class="list-group-item">
                certificate : <button class="btn btn-sm btn-primary" disabled>Get pass</button>
            </div>
        </li>
    </ul>
</div>